*{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 800;
}

.banner{
    width: 100%;
    height: 34rem;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.banner .banner-text{
    margin: auto;
    margin-top:8rem;
    max-width: 1000px;
    text-align: center;
}
@media(max-width:390px){
    .banner .banner-text{
        margin-top:4rem;
    }
}

@media(max-width:280px){
    .banner .banner-text{
        margin-top:1rem;
    }
}
.black-one{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.35);
}

#video-back{
    width: 100%;
    min-width:1155px;
    position: absolute;
    left: 0vw;
    z-index: -2;
    /*filter: contrast(0.5);*/
    margin-top: -4rem;
}
#diretoria h1{
    margin-bottom:2rem;
}
#diretoria h2, #analistas h2{
    font-weight: 700;
}
#diretoria{
    padding-top: 4rem;
}

#analistas{
    padding-top: 5rem;
}

.card-owl{
    display:flex; 
    justify-content:center;
}

.section-member{
    position: relative;
    z-index: 0;
    object-fit: cover;
    overflow: hidden;
}

.member-banner{
    display: flex;
    position: relative;
    z-index: 0;
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.img-member{
    display: flex;
    justify-content: center;
}
.member,
.member2{
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
    border-radius: 10px;
    height: 32rem;
    margin-bottom: 2rem;
}

.member{
    width: 90%;
}

.member2{
    width: 100%;
}

.member-thumb{
    object-fit: cover;
    width: 180px;
    height: 180px;
    position: relative;
    /*filter: contrast(0.5);*/
    z-index: -1;
    border-radius: 10px;
}
.infos{
    padding: 1rem;
    margin-top: 2rem;
}
.infos p{
    max-width: 500px; 
    line-height: 22px;     
    max-height: 44px;   
    overflow: hidden; 

}
.infos svg{
    color: #000000;
}

.carrossel-posts{
    flex-direction: column;
}

.carrossel-posts>*{
    display: inline-block;
}

.carrossel-posts a,
.carrossel-posts .page-numbers{
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 8px 24px rgba(112, 144, 176, 0.15);
    font-size: 1.375rem;
    font-weight: 500;
    color: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.carrossel-posts .page-numbers:hover{
    color: #E6CE1D;
}

.carrossel-posts a:last-child{
    padding: 0;
    background-color: white;
    box-shadow: none;
}

.carrossel-posts a:first-child{
    padding: 0;
    background-color: white;
    box-shadow: none;
}

.carrossel-posts a:last-child:hover,
.carrossel-posts a:first-child:hover{
    color: #E6CE1D;
}

.carrossel-posts span.page-numbers.current{
    color: #fff;
    background-color: #E6CE1D;
}