/* Padronização dos estilos das fontes*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

/*
h1{}

h2{}

h3{}

h4{}

h5{}

h6{}

p{}

*/
.bold{
    font-weight: bold;
}

.bolder{
    font-weight: 900;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}