/*Footer*/
footer{
    background-color: black;
    color: white;
    padding-top: 4rem;
}
.rodape{
    display: flex;
    align-self: center;
    width: 80%;
    margin: auto;
}

.rodape p{
    font-size: .8rem;
}
.rodape a{
    text-decoration: none;
    color: #F2F2F2;
}
.rodape a:hover{
    color: #F2F2F2;  
}

.social {
    display: flex;
}
.social p{
    margin-right: 22px;
}

.direito{
    margin-top: 2.7rem;
    margin-bottom: 1.5rem;
}