*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'inter';
}
h1{
    font-weight: 800;
}
p{
    font-family: 'Montserrat';
}
.banner{
    width: 100%;
    height: 34rem;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.banner .banner-text{
    margin: auto;
    margin-top:10rem;
    max-width: 1000px;
    min-width: 330px;
    text-align: center;
}

.black-one{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.35);
}

#video-back{
    width: 100%;
    min-width:1155px;
    position: absolute;
    left: 0vw;
    z-index: -2;
    /*filter: contrast(0.5);*/
    margin-top: -4rem;
}
/*Sobre*/

.sobre{
    padding-top: 4rem;
}
.sobre .section-title h1{
    padding-bottom: 1.8rem;
}
.sobre .section-title p{
    margin-bottom: 2rem;
}
.sobre p span{
    font-weight: bold;
}

.numeros p{
    color: #969BAB;
    font-size: .8rem;
    
}
.numeros-item{
    margin: auto;
}
.numeros{
    margin-bottom: 2rem;
    display: flex;
}

.material-icons-outlined{
    font-size: 2.5rem;
}
.mvv{
    margin-bottom: 2rem;
}
.mvv-item{
    margin: 0 auto;
    padding: 1rem 0.5rem 1rem 1rem;
    background-color: #181818;
    color: #fff;
    border-radius: .8rem;
    height: 100%;
    
}
.mvv-item p{
    font-size: 1rem;
}
/* Contato */
.contato{
    padding-top: 4rem;
    margin-bottom: 2rem;
    
}
.contato a{
    color: #000000;
}
.contato-title h1{
    font-weight: 800;
    margin-bottom: 2rem;
}

.formulario{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 2rem 1.5rem 0 1.5rem;
    margin-right: 2rem;
}

.formulario h5{
    text-align: center;
    font-weight: 700;
}
.formulario label{
    margin: -0.8rem 0 0 0;
}
.formulario .mensagem, .formulario .nome, .formulario .email{
    width: 100%;
    background-color: #F4F4F4;
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem ;
    font-size:.8rem ;
    box-shadow: 0px .5rem 1.2rem rgba(41, 41, 42, 0.08);;

}
 .mensagem{
    resize: none;
 }
.formulario .botao_form{
    font-size: 0.8rem;
    font-weight: 700;
    margin: auto;
    background-color: #E6CE1D;
    color: #FFFFFF;
    border: none;
    border-radius: .5rem;
    padding: 1rem 3.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px .5rem 1.2rem rgba(41, 41, 42, 0.08);
}

.formulario .mensagem:focus, .formulario .nome:focus, .formulario .email:focus{
    padding-left: 0.5rem;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.infos{
    margin: auto;
    text-align: center;
}
.infos p{
    font-size: .8rem;
    padding-top:.5rem ;
}
.mapa{
    width: 60%;
    margin: auto;
}

.social-f{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}
.social-f a{
    cursor: pointer;
    margin-right: 22px;
}


@media(max-width:1200px){
    .formulario {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        
    }
    .mapa{
        width: 90%;
        margin: auto;
    }
  
}
@media (max-width:900px) {
    .formulario {
        width: 70%;
    }
    
}
@media (max-width:600px) {
    .infos{
        width: 80%;
        flex-direction: column;
    }
    .formulario {
        width: 100%;
    }
}


/* PARCEIROS */

.parceiros{
    padding-top: 4rem;
}

.owl-carousel .owl-item.big div {
    transition: all 1s ease-out;
}

.owl-carousel .owl-item.medium-left div {
    transform: scale(0.9) !important;
    filter: opacity(0.9);
    
}
    
.owl-carousel .owl-item.medium-right div {
    transform: scale(0.9) !important;
    filter: opacity(0.9);
    
}

.card-owl{
    display:flex; 
    justify-content:center;
}

.section-member{
    position: relative;
    z-index: 0;
    object-fit: cover;
    overflow: hidden;
}

.member-banner{
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.img-member{
    display: flex;
    justify-content: center;
}

.member{
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
    border-radius: 10px;
}

.member-thumb{
    object-fit: cover;
    width: 100%;
    position: relative;
    z-index: -1;
    border-radius: 10px;
}