*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 34rem;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.banner .banner-text{
    margin: auto;
    margin-top:10rem;
    max-width: 1000px;
    min-width: 330px;
    text-align: center;
}

.black-one{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.35);
}

#video-back{
    width: 100%;
    min-width:1155px;
    position: absolute;
    left: 0vw;
    z-index: -2;
    /*filter: contrast(0.5);*/
    margin-top: -4rem;
}

/*Educacao*/
.educacao{
    /* background-color ta aqui enquanto as cores do site não são definidas*/
    background-color: #FAFAFA;
    margin: auto;
}
.section-title{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.section-title h1{
    padding-bottom: 1.75rem;
    font-weight: 800;
}

.educacao-item{
    padding: 0 3.375rem;
    text-align: center;
    padding-bottom: 1rem;
}
.educacao-item h4{
    font-weight: 600;
    padding-bottom: 6px; 
}
.educacao-item p{
    text-align: center;
}

/*Asset management*/
.asset-management{
     /* background-color ta aqui enquanto as cores do site não são definidas*/
    background-color: #FAFAFA;
}
.asset-management .section-title{
    margin-top: 8rem;
}
.asset-management .card{
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.08);
    border-radius: .5rem;
    /* ver depois tamanho em porcentagem para responsividade*/
    width: 22.5rem;
    margin: auto;
}
.cardsflex {
    display: flex;
}
.asset-management .card .card-title{
    padding-left: 2rem;
    padding-top: 1rem;
}
.asset-management .card .card-title h5{
    font-weight: 700;
}
.asset-management .card .card-title h6{
    color: #969BAB;
}
.asset-management .card .card-text {
    padding: 0px 2rem; 
}
.asset-management .card .card-text .texto {
    margin-bottom: 1rem; 
}

.asset-management .card .card-text .item {
    padding-bottom: 0.6rem; 
}
/*Equity Reseach*/
.equity-reseach{
    background-color: #FAFAFA;
}
.equity-reseach .section-title{
    margin-top: 9rem;
}
.equity-reseach-item{
    margin:auto;
    text-align: center;
    margin-top: 2rem;
}
.equity-reseach-item h4{
    padding-bottom: .5rem;
}

@media (max-width:991px){
    .cardsflex {
        flex-wrap: wrap;
    }
    .cardsflex div:nth-child(1) {
        margin-bottom: 2rem;
    }
}
